body{
    background-color: bisque 
}
h1 {
    color: #000000;
    text-align: center
}
p{
    color: red;
}
input{
    padding: 15px;
    border: 1px solid;
    border-radius: 14px;
}
button{
    padding: 10px 15px;
    background-color: #000000;
    color: bisque;
    border-radius: 14px;
    cursor: pointer;
    margin-left: 10px; 
}
ul{
    padding: 0; 
}
li{
    background-color: rgb(193, 176, 155);
    margin: 10px 0;
    padding: 10px;
    border-radius: 14px; 
    display: flex; 
    justify-content: space-between; 
    align-items: center;
}
